.forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-1-container{
    margin-bottom: 2%;
    width: 70%;
    background: rgb(253, 253, 253);
    padding:  2% 1%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 12px 3px #A3A1A1;
    transition: box-shadow 0.2s ease-out 0s;    
}

/* form-1 */

.form-1-name{
    width: 92%;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 2% 0;
}

.form-1{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.form-1-input-1{
    font-size: 1rem;
    color: rgb(60, 60, 61);
    border-radius: 0.3rem;
    padding: 3%;
    border:1px solid rgb(90, 89, 89);
    width: 94%;
}
.input-space{
    margin-right:0.5rem ;
}
.form-1-group{
    width: 40%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-1-label{
    font-size: 0.8rem;
    padding-bottom: 3px;
    color: rgb(102, 102, 101);
}
.form-1-btn-1{
    font-size: 1rem;
    color: rgb(60, 60, 61);
    border-radius: 0.3rem;
    padding: 6%;
    background: rgb(43, 25, 209);
    /* border-color: -internal-light-dark(rgb(44, 26, 209), rgb(42, 25, 191)); */
    color: white;
    background-image:linear-gradient(to bottom, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0.08) 100%); 
}

.form-1-group-btn{
    width: 20%;
    padding-left: 0;
}

@media screen and (max-width: 950px){
    .form-1{
        flex-direction: column;
        align-items: center;
    }
    .form-1-group{
        width: 84%; 
        padding: 1%;
    }
    .form-1-group-btn{
        padding: 2%;
    }
    .form-1-btn-1{
        padding: 4%;
    }
    .form-1-name{
        width: 81%;
    }
    .form-1-container{
        width: 100%;
        padding: 2% 0;
    }
}

/* form 2 */