
.row{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    /** N E S W **/
    margin: 1% 1% 1% 1%;
    height: 200px ;
    width:200px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px){
    .col{
        width: 50%;
        height: 50vw;
    }
}
.shape{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0 1em #727272;
}


/* * pacman * */

.packman{
    border-radius: 50%;
    background: yellow;
    background: radial-gradient(circle, rgb(243, 238, 163) 10%, yellow 50%, rgb(211, 211, 140) 100%);
    width: 50%;
    height: 50%;  

  
}
.packman-mouth{
    width: 50%;
    height: 50%;
    border-top-left-radius: 100% ;
    background: rgb(255, 255, 255);
    position: relative;
    right: 2%;
    bottom: 2%;

}
.packman-eye{
    width: 15%;
    height: 15%;
    background: rgb(0, 0, 0);
    position: relative;
    left: 62%;
    bottom:30%;
    border-radius: 50%;
}
.food{
    width: 25%;
    height: 25%;
    background: rgb(187, 255, 0);
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: 40%;
    background: linear-gradient(90deg, rgb(4, 130, 8) 0%, rgb(0, 255, 30) 100%, rgb(247, 244, 244) 10%);
}

/* heart */
.heart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ears{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.circle{
    width: 25%;
    height: 50%;
    background: rgb(223, 173, 11);
    border-radius: 100%;
    background: linear-gradient(90deg, rgb(232, 125, 86) 0%, rgb(242, 255, 0) 70%);

}

.triangle{
    width: 0;
    height: 0;
    position: relative;
    bottom: 12%;
}
.hide-bottom-ears{
    width: 50%;
    height: 5%;
    background: rgb(243, 243, 243);
    position: relative;
    bottom: 12%;
    
} 

/* cup */

.cup{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-cup{
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    left:15%;
    top:13%
    
}
#mug{
    width: 70%;
    height: 100%;
    background:rgb(24, 219, 226);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#ear{
    width: 20%;
    height: 50%;
    background:rgb(18, 140, 181);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;

}
#ear > div{
    width: 70%;
    height: 50%;
    background:rgb(255, 255, 255);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}
#plate{
    width: 100%;
    height: 25%;
    background:rgb(21, 37, 48);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#plate > div{
    width: 40%;
    height: 25%;
    background:rgb(51, 97, 128);
    border-radius: 100%;

} 

/* cat */

#cat{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ears-cat{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.ear-cat{
    width: 0%;
    height: 0%;
}
.head-cat{
    width: 40%;
    height: 70%;
    border: 1px solid black;
    background: rgb(255, 253, 253);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:15%;
}
.paws{
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom:25%;
}
.paw{
    width: 25%;
    height: 100%;
    background: rgb(136, 5, 114); 
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.eyes{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.eye{
    width: 7%;
    height: 30%;
    background: rgb(0, 5, 1); 
    border-radius: 100%;
}
.nose{
    width: 0%;
    height: 0%;
    align-self: center;
}
.mouth{
    width: 50%;
    height: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
}
.part-mouth{
    width: 50%;
    height: 50%;
    border: 1px solid palegoldenrod;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top:0;
}


